:{$PORT} {
    @realtime path /app/* /apps/*
    reverse_proxy @realtime localhost:6001 {
        header_up X-Forwarded-Proto https
    }
    reverse_proxy localhost:8000 {
        header_up X-Forwarded-Proto https
    }
}
